/* Experience.css */
.experience-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.experience-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.section h4 {
    color: #555;
    margin-bottom: 15px;
    text-decoration: underline;
}

.section .research-item,
.section .work-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

.section img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.section .text-container {
    flex: 1;
}

.section .text-container h5 {
    font-size: 18px;
    color: #007acc;
    margin: 0;
}

.section .text-container h5 a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.section .text-container h5 a:hover {
    color: #005999;
}

.section .text-container p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-top: 8px;
}

.section ul {
    margin: 10px 0 0 20px;
    padding: 0;
    list-style-type: disc;
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.section ul li {
    margin-bottom: 5px;
}


/* Responsive design */
@media (max-width: 600px) {

    .section .research-item,
    .section .work-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section img {
        width: 100px;
        height: 100px;
    }

    .section .text-container {
        margin-top: 10px;
    }
}