body {
    background-color: #FDF6EC;
}

.btn {
    border-radius: 50px;
    padding: 14px 0;
    width: 160px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    transform: translateY(2px);
}

.primary-btn {
    font-size: 14px;
    background-color: #1f2235;
}


@media only screen and (max-width: 568px) {
    .highlighted-btn {
        z-index: -900;
    }
}

html {
    scroll-behavior: smooth;
}